.wrapper {
	padding: 45px 100px;

	&_typography {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
}

.profile {
	display: flex;
	align-items: center;

	margin: 40px;
	margin-left: 0;

	& span {
		margin-left: 20px;
		font-size: 32px;
	}
}
