.toolbar {
	display: flex;
	justify-content: space-between;
	padding: 0 0 0 25px !important;
}

.welcomeText {
	height: 70px;
	padding: 0 25px;
	margin-right: 5px;
	text-transform: lowercase;
	font-size: 18px;
}

.link {
	text-decoration: none;
}

.activeLink {
	text-decoration: none;

	& button {
		font-weight: bold !important;
	}
}

.button {
	width: 150px;
	height: 70px;

	color: #0026ff;
	font-size: 18px;
	text-transform: capitalize !important;
}
